footer{
    margin-top: 5em !important;
    text-align: center;
    padding: 10px !important;
    background-color: 	#B7C3D0;
    color: rgb(31, 30, 30);
    position: relative;
}
footer p{
  font-size: 16px;
  padding: 0 15%;
}
.about img{
  text-align: center;
  margin: 2% 0 0 28%;
}
.useful-links{

}
.social{

}
.copyright{
  background: #000033;
  color: #dddddd;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
}
.newsletter{
  background: #A2B5CD;
  align-items: center;
}
.back-to-top{
  width:5rem;
  height:5rem;
  background-color: 	#B7C3D0;
  position: absolute;
  top: -2.5rem;
  left:50%;
  transform: translateX(-50%);
  border-radius: 50%;
  text-decoration: none;
}

.back-to-top i{
  display: block;
  color: #000033;
  font-size: 1.6rem;
  padding: 2rem;
  margin-bottom: 0;
  animation: up 2s infinite;
  text-decoration: none;
}
.backagain a{
  text-decoration: none;
}
.footer-content{
  margin-top: 40px;
  text-decoration: none;
}
.newsletter ul li{
  font-size: 16px;
  margin: -1% 0 0 5%;
}
ul{
  padding: 0;
}
ul li{
  padding: 5px 0;
}
footer ul li a{
  font-size: 16px;
  color: #09015f;
}
#social_icons {
  padding: 10px;
}

#social_icons i{
  color: #000033 !important;
}

#social_icons i:hover{
  transition: .4s;
  transform: scale(1.3);
}
@keyframes up{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;

  }
  100%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  !important
}
@media screen and (max-width: 700px) {
  .newsletter ul li{
    font-size: 12px;
    margin: -4% 4% 0 4%;
  }
}
